<div id="main">
  <h1 class="title">Select a team to the left to view the leaderboard</h1>
	
	<%= render :partial => 'layouts/teams' %>
	
	<div class="main-content">
	  <table class="leaderboard">
	    <tr>
	      <th>Username</th>
	      <th>This Week's Points</th>
	      <th>Last Week's Points</th>
	    </tr>
	  </table>
	</div>
</div>

