<div id="main">
  <h1 class="title">The Ultimate Fan Leaderboards</h1>
	
	<%= render :partial => 'layouts/teams' %>
	
	<div class="main-content">
		<h2 class="team-name">Click a team on the right to view leaderboard</h2>
		
	  <table class="leaderboard">
	    <tr>
	      <th>Username</th>
	      <th>This Week's Points</th>
	      <th>Last Week's Points</th>
	    </tr>
	  </table>
	</div>
</div>