<!DOCTYPE html>
<html>
<head>
  <title>Leaderboard</title>
  <%= stylesheet_link_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
	<script>
		$(document).ready(function() {
			$("ul.team-list").on("click", "li", function(event)  {	
				var id = $(event.currentTarget).attr("data-id");
				
				$.ajax({
					url: "/teams/" + id,
					type: "get",
					success: function(data) {
						$(".team-name").empty()
						$(".team-name").html(data.team.nickname)
					}
				});
		
				$.ajax({
					url: "/favorites/",
					type: "get",
					data: {
						team_id: id
					},
					success: function(data) {
						console.log(data)
					}
				});
				
			});
		});
	</script>
</body>
</html>
