<!DOCTYPE html>
<html>
<head>
  <title>Leaderboard</title>
  <%= stylesheet_link_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
	<script>
		$(document).ready(function() {
			$("ul.team-list").on("click", "li", function(event)  {	
				var id = $(event.currentTarget).attr("data-id");
				
				$.ajax({
					url: "/teams/" + id,
					type: "get",
					success: function(data) {
						$(".team-name").empty()
						$(".team-name").html(data.team.nickname)
					}
				});
		
				$.ajax({
					url: "/favorites/",
					type: "get",
					data: {
						team_id: id
					},
					success: function(data) {
						$(".leaderboard").empty();
						var table = "<tr><th>Username</th>" +
											"<th>This Week\'s Points</th>" +
											"<th>Last Week\'s Points</th></tr>";
											
						for(var i=0; i < data.length; i++) {
							var user = data[i]["user"];
							table = table.concat("<tr><td>" + user["username"] + 
																	 "</td><td>" + user["curr_points"] +
																	 "</td><td>" + user["last_points"] +
																	 "</td></tr>");
						}
						$(".leaderboard").html(table);
					}
				});
				
			});
		});
	</script>
</body>
</html>
